body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #00BE9A;
  padding-top: 70px;
}

a {
  color: #00B7FF;
}
.jumbotron{
	box-shadow: 5px 5px 3px #ccc;
}
.container-fluid{

}